@charset "utf-8";

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import "~@/assets/scss/variables";

body{
  background-color: $black;
  color: $blue;
}
*{
  font-family: 'Oxygen', sans-serif!important;
}

p, span, div, h1, h2, h3, h4, h5{
  color: $blue
}
.btn-primary{
  border-color: $purple;
  background-color: $blue;
  color: $purple;
  &:hover{
    background-color: $dark-blue;
    color: white;
  }
}
.btn-secondary{
  border-color: $light-purple;
  background-color: $black;
  color: $light-purple;
}

.label {
  font-size: 40px;
  margin-bottom: 15px;
}
.summoner {
  input {
    width: 80%;
    font-size: 40px;
  }
}
.option {
  padding: 20px;
  font-size: 20pt;
  text-align: center;
  border: 1px solid $light-purple;
  cursor: pointer;
  span {
    display: block;
    font-size: 10pt;
    text-align: center;
    color: $gold;
  }
  &.active {
    -webkit-box-shadow: 0px 0px 18px 0px $light-purple;
    -moz-box-shadow: 0px 0px 18px 0px $light-purple;
    box-shadow: 0px 0px 18px 0px $light-purple;
    color: white;
    background-color: $light-purple;
    span {
      color: $purple;
    }
  }
}
.message {
  margin-top: 20px;
  font-size: 15pt;
  color: $gold;
}

.summoners {
  padding: 0 10px;
  .player {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
    width: 14rem;
    border: 1px solid $grey;
    background-color: $grey;
    margin-right: 5px;
    .summoner-icon{
      width: 50px;
    }
    .sumonner-role{
      width: 25px;
    }
    h5{
      color: $blue;
      font-weight: bold;
      font-size: 12pt;
    }
    .tier{
      font-weight: bold;
    }
    .roles{

    }
  }
}